*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px red inset;
    overflow: scroll;

    cursor: pointer;
}




@media screen and (max-width:450px) {
    
}

@media screen and (max-width:700px) and (min-width:450px) {
    .box{
        background-color: red;
    }
}

@media screen and (min-width:700px) {
    .box{
        background-color: green;
    }
}